[user]
    name = 
    email = 

[core]
    editor = nvim
    pager = delta

[init]
    defaultBranch = main

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate

[pull]
    rebase = false